<ion-header>
  <ion-navbar>
    <ion-title>Extrator OCR</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button class="select-image" ion-button block *ngIf="!srcImage" (click)="presentActionSheet()" color="light">
    <ion-icon name="camera"></ion-icon>
  </button>

  <div *ngIf="srcImage" class="image-wrapper">
    <img id="image" [src]="srcImage" />
    <button ion-button icon-left block (click)="tesseractjs()" color="light">
      <ion-icon name="search"></ion-icon>
      Processar com Tesseract JS
    </button>
    <button ion-button icon-left block (click)="ocradjs()" color="light">
      <ion-icon name="search"></ion-icon>
      Processar com OCRAD JS
    </button>
    <button ion-button icon-left block (click)="restart()" color="light">
      <ion-icon name="refresh"></ion-icon>
      Reiniciar
    </button>
  </div>

</ion-content>
